.NavbarColor > .brand{
    background-color: rgba(37, 35, 40, 0.87);
    color: #FFFFFF;
}

#hello{
    color: #FFFFFF;
}

#basic-nav-dropdown{
    color: #FFFFFF;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}