.NavbarColor > .brand{
    color: #FFFFFF;
}


#basic-nav-dropdown{
    color: #FFF;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    transition: background-color .2s;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus {
    color: black;
    background-color: #fff;
}

.alertNav {
    z-index: 1;
}