.NavbarColor > .brand{
    background-color: rgba(37, 35, 40, 0.87);
    color: #FFFFFF;
}


#basic-nav-dropdown{
    color: #FFF;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    background-color: rgba(37, 35, 40, 0.87);
}

.navbar-light .navbar-nav .nav-link:focus {
    color: rgba(37, 35, 40, 0.87);
    background-color: white;
}

.alertNav {
    z-index: 1;
}