.body {
    background: linear-gradient(#222328, #551C3A) 120%;
    transition: all .5s;
    height: 150%;
}

#reset{
    height: 80%;
    width: 80%;
    left: 10%;
    top: 10%;
}

#passwordForm{
    padding-top: 5%;
}


button.dark{
    border-color:rgb(40, 17, 33);
    background: rgb(40, 17, 33);
    margin-top: 5%;
    color:#FFFFFF;
}
button.dark:hover{
    border-color:rgb(40, 17, 33);
    background: transparent;
    margin-top: 5%;
    color: rgb(40, 17, 33);
}
button:focus {
    outline: none;
}

h4 {
    text-align: left;
    background: transparent;
    color: white;
}

.container-fluid{
    background-color: #3A082C;
    color: black;
    padding: 20px 70px;
    margin:0;
}

div .tab-pane .active{
    padding: 0;

}

div .fade.tab-pane.active.show{
    width: 98%;
}

div .form-group.col {
    margin: 1%;
    padding: 2%;
}



input.inputLabel{
    border: none;
    border-bottom: #ba8b6f;
}

.flex-column{
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    margin: 5%;
    padding: 10px;
    object-fit: cover;
    color: #281121;
}

