.text{
    font-family: 'PT Serif', serif;
}

.nameCol {
    width: 40%;
}

.positionCol {
    width: 35%;
}

.buttonCol {
    width: 25%;
}

.table{
    width: 70%;
    margin-left: 15%;
}

.tableHead{
    background-color: #e6e6ff;
}

#topBanner{
    height: 40px;
    padding-top: 5px;
    text-align: center;
}

p {
    display: inline;
}

.buttonHorizontal{
    display: inline-block;
    float: right;
}

.borderControl {
    border-right: solid #e6e6ff 4px;
}

.noBorder {
    border: 0px;
}

.artist {
    background-color: #e6e6ff;
    border-radius: 6px;
 }

.artistContainer {
}

.whiteTextOnAcceptButtonAtTopOfEventPageToAcceptEntireEventGivingAnAdditionalOptionToDeclineViaAPopoupWIndowThatJulieDesignedEarlierThisWeekIReallyMustSayThatThisCodeWasElegantlyWrittenAndOfGreatUseForThisParticularFeatureAsWellIHavetoStopWritingSoonAsTheClockHasPassed1600AndItIsTimeForMeToHeadHomeThankYouForReadingDontForgetToSmashTheSubscribeButton{
    color: white;
}

.redBG{
    background: #dE685E;
    color: white;
}

.greenBG{
    background: linear-gradient(#92bCa6, #A2CCB6);
}

.artistCard{
    padding-bottom: 10px;
}


.artistButton{
    display: inline-block;
    padding-right: 35%;
    float: right;
}

.artistBanner{
    margin-bottom: 20px;
    height: 25px;
    border-radius: 20px;
    text-align: center;
    width: 100%;
}

#cardImg{
    height: 130%;
    width: 100%;
    overflow: hidden;
    object-fit: inherit;
}

.w94{
    width: 93%;
}

.alertDesign {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.alertNav {
    z-index: 1;
}

#con {
    background: rgba(129, 129, 129, 0.14);

}

.form-control  {
    color: white;
    background: rgba(129, 129, 129, 0.18);
    border-color: #505050;
}


.form-group{
    color: white;
    background: rgba(129, 129, 129, 0.18);
    border-color: #505050;

}


.input .form-group  ::placeholder{
    color: #FFFFFF;
}

.card{
    background: rgba(129, 129, 129, 0.18);
    left: 4%;
}

#eventPreview {
    background: rgb(255, 255, 255);
    color: black;
    border-color: #505050;
    width: 160%;
    left: -33%
}

.btn-group button{
    background: transparent;
    padding: 7px 30px;
    margin: 30px 10px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #ffffff;
}

.card button{
    background: rgba(255, 0, 127, 0.25);
    padding: 7px 30px;
    margin: 30px 10px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #FFF;
}

input{
    background: transparent;
    border: 2px solid #505050;
}

#whole-page{
    background: linear-gradient(#222328, #551C3A) 100%;
}

.btn-group #save {
    background: transparent;
    padding: 7px 30px;
    margin: 30px 10px;
    border: 2px solid #fff;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    color: #FFF;
}

.btn-group #save:hover {
    background: green;
    padding: 7px 30px;
    margin: 30px 10px;
    border: 2px solid #fff;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    color: #FFF;

}

.popup-content{
    background: #ffffff;
    width: 170%;
    position: absolute;

}


#preview{
    max-width: 93%;
    height: 50%;
}

#eventBody{
    width: 100%;
    margin: auto;
}



.card-link {
    background: transparent;
    padding: 10px 30px;
    margin: 6% 5% 2% 3%;
    border-radius: 50px;
    border: 2px solid #2d2d31;
    color: #2d2d31;
    display: inline-block;

}

div.col-md-12{

    padding: 0;
    margin: 10px;
    width: fit-content;
    color: #222328;
}

#avlys{
    display: inline-block;
    margin-right: 20px;
    margin-top: 0;
}

form #form-body{
    background: #222328;
}


