.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.row{
  margin-left: -12%;
  padding: 0;
}

.col-md-12{
  alignment: center;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: #281121;
  border: solid rgba(74, 33, 102, 0.31);
  border-width: 1px 1px 0 1px;
}
.tab-content{
  alignment: center;
  background: rgba(129, 129, 129, 0.14);
}


h1 {
  margin-bottom: 30px;
  margin-top: 5%;
}

.container #tabsAllEvents{
  color: #FFFFFF;
  background-color: #FFFFFF;
  align-items: center;
  text-align: center;
}

div .card-header{
  background: rgba(129, 129, 129, 0.14);
  contain: content;
  object-fit: cover;
}

div.card-body{
  background: rgba(34, 35, 40, 0.14);
}
