.tab-list {
  border-bottom: 1px solid #ccc;
  color: #FFFFFF;
}

.row{
  width: inherit;
  padding: 0;
}

.col-md-12{
  alignment: center;
  padding: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: #281121;
  border: solid rgba(74, 33, 102, 0.31);
  border-width: 1px 1px 0 1px;
  color: #FFFFFF;
}

#tabs-header{
  margin-bottom: 30px;
  margin-top: 5%;
  color: #FFFFFF;
  text-align: center;
  left: 10%;
}

#tabsAllEvents.container-fluid{
  color: #FFFFFF;
  background: linear-gradient(#222328,#551C3A) 100%;
  background: transparent;
  align-items: center;
  text-align: center;
  padding: 0;
}

div .card-header{
  background: rgba(129, 129, 129, 0.14);
  contain: content;
  object-fit: cover;
}

div.card-body{
  background: rgba(83, 83, 96, 0.31);
}

li {
  cursor: pointer;
}